<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bottom navbar example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link  rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css">
    <style>
      body{
        padding: 1em 0;
      }
      input{ width: 500px; }
      .row{
        margin-top: 50px;
      }
    </style>
  </head>

  <body>

    <div id="app" class="container">
      <header class="header clearfix">
        <h3 class="text-muted">{{ activity.activityTitle }}</h3>
        <input v-model="activity.activityTitle">
      </header>

      <main role="main">

        <div style="display: block; width: 980px; height: 350px; margin: 1em auto 2em; ">
          <img :src="activity.mainImg">
          <input v-model="activity.mainImg">
        </div>

        <div class="row marketing">
          <div class="col">
            <template v-for="(v, idx) in activity.list">
              <h4>{{ v.title }}</h4>
              <p>{{ v.content }}</p>
              <p><button @click="remove(idx)">Del</button></p>
            </template>
          </div>
        </div>

        <hr>

        <div class="row marketing">
          <div class="col">
            <p>title: <input v-model="newRow.title"></p>
            <p>content: <input v-model="newRow.content"></p>
            <p><button @click="addList">Add</button></p>
          </div>
        </div>

      </main>

      <hr>
      <button @click="jsonPreview">預覽</button>
      <button @click="jsonClean">清除</button>
      <pre>{{ output }}</pre>

    </div> <!-- #app -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.js"></script>
    <script>

      var vm = new Vue({
        el: '#app',
        data: {
          output: '',
          newRow: {
            title: '',
            content: ''
          },
          activity: {
            activityTitle: 'Project name',
            mainImg: 'https://placeholdit.co/i/980x350?text=TEST',
            list: [
              {
                title: 'Subheading 1',
                content: 'Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.'
              },
              {
                title: 'Subheading 2',
                content: 'Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.'
              },
            ]
          }
        },
        methods:{
          jsonClean(){
            this.output = '';
          },
          jsonPreview(){
            this.output = this.activity;
          },
          remove: function(i){
            this.activity.list.splice(i , 1);
          },
          addList: function(){

            this.activity.list.push({
              title: this.newRow.title,
              content: this.newRow.content
            });

            this.newRow = { title: '', content: '' };
          }
        }
      });

    </script>

  </body>
</html>
