<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="./place-detail.css">
</head>
<body>

  <div id="map"></div>
  <div id="app">

    <div class="image-list">
      <ul :style="photoListPos">
        <li v-for="p in placesDetail.photos"> <img :src="getPhoto( p )"> </li>
      </ul>
      <div class="image-handler">
        <span v-for="(p, idx) in placesDetail.photos" :class="{ active: idx == currPhotoIdx }" class="dot">&#8226;</span>
      </div>
    </div>

    <div class="header">
      <h1>{{ placesDetail.name }}</h1>
      <em class="rank">{{ placesDetail.rating }}</em>
      <em class="stars" v-html="createStars(placesDetail.rating)"></em>
    </div>

    <section c-show="placesDetail.reviews" class="commons">
      <h2 class="commons-title">網友評論</h2>

      <ul class="commons-list">
        <li v-for="c in placesDetail.reviews" class="commons-block">
          <img class="profile_photo" :src="c.profile_photo_url" :alt="c.author_name" :title="c.author_name">
          <div class="commons-text">{{ c.text }}</div>
          <div class="commons-time">{{ c.relative_time_description }}</div>
        </li>
      </ul>
    </section>

    <section class="location-info">
      <div> <i class="fa fa-map-marker" aria-hidden="true"></i> {{ placesDetail.formatted_address }}</div>
      <div> <i class="fa fa-phone" aria-hidden="true"></i> {{ placesDetail.formatted_phone_number }}</div>
      <div v-if="placesDetail.opening_hours">
        <i class="fa fa-clock-o" aria-hidden="true"></i> {{ placesDetail.opening_hours.weekday_text[(new Date().getDay())] }}</div>
    </section>

  </div>

<script src="//maps.googleapis.com/maps/api/js?libraries=geometry,places&key=AIzaSyBxKtiOh3lYNzXBI6jjjC_oOGaqF1Z6Uy0"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.3/vue.js"></script>
<script src="//hammerjs.github.io/dist/hammer.min.js"></script>

<script src="./life-dist.js"></script>

</body>
</html>